<div class="header-section section">
     
    <!-- Header Top Start -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- Header Top Wrapper Start -->
                    <div class="header-top-wrapper">
                        <div class="row">

                            <!-- Header Social -->
                            <div class="header-social col-md-4 col-12">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>

                            <!-- Header Logo -->
                            <div class="header-logo col-md-4 col-12">
                                <a href="#" class="logo"><img src="../assets/img/logo.png" alt="logo"></a>
                            </div>

                            <!-- Main Menu -->
                            <nav id="main-menu" class="main-menu">
                                <ul>
                                    <li><a href="/">home</a></li>
                                    <li class="active"><a href="/">shop</a></li>
                                    <li><a href="/my-account">My Account</a></li>
                                </ul>
                            </nav>
                            
                            <!-- Mobile Menu -->
                            <div class="mobile-menu section d-md-none"></div>
                        </div>
                    </div><!-- Header Top Wrapper End -->

                </div>
            </div>
        </div>
    </div><!-- Header Top End -->
    
</div>