<div class="row">       
    <div class="col-lg-6 col-12 mb-30">

        <form *ngIf="!product_id" enctype="multipart/form-data" (ngSubmit)="onSubmit()" class="checkout-login-form">
            <div class="row">
                <div class="input-box col-md-12 col-12 mb-10"><input type="text" name="product_name"  [(ngModel)]="product_name" placeholder="Product Name" required></div>
                <div class="input-box col-md-12 col-12 mb-10"><input type="text" name="product_price"  [(ngModel)]="product_price" placeholder="Price" required></div>
                <div class="input-box col-md-12 col-12 mb-10"><input type="file" name="product_image" (change)="onFileSelected($event)"></div>
                <div class="input-box col-md-12 col-12 mb-10"><input type="submit" value="Add Product"></div>
            </div>
        </form>

        <form *ngIf="product_id" enctype="multipart/form-data" (ngSubmit)="onUpdateSubmit()" class="checkout-login-form">
            <div class="row">
                <div class="input-box col-md-12 col-12 mb-10"><input type="text" name="product_name"  [(ngModel)]="product_name" placeholder="Product Name" required></div>
                <div class="input-box col-md-12 col-12 mb-10"><input type="text" name="product_price"  [(ngModel)]="product_price" placeholder="Price" required></div>
                <div class="input-box col-md-12 col-12 mb-10"><input type="file" name="product_image" (change)="onFileSelected($event)"></div>
                <div class="input-box col-md-12 col-12 mb-10"><input type="submit" value="Update Product"></div>
            </div>
        </form>
    </div>
</div>
  